@import "tailwindcss";

@theme {
    --color-black: #262626; 
    --color-gray:#404040;
    --color-grayLight: #EDEDED;
    --color-golden: #b28f00;
    --color-disabled: #AEAFAF;
    --color-white: #fff;
    --color-dark: #121212;
    --color-buttonGreen:#0B7C01;
    --color-buttonBlue:#345AF2;

  }